<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8" />
	<title>Tp</title>
	<link rel="stylesheet" type="text/css"
		href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<h1>Tp Java Container</h1>
	 			<div class="col-md-4 mx-auto mt-5 text-center">
					
						<form th:action="@{/Reponse}" method="POST">
							Prenom : <input name="prenom" type="text"/> <br />
							<button type="submit" value="Valider" name=button>Valider</button>
						</form>
				</div>
				<div th:if="${prenom}">
   					 <h2>
           				<span th:text="'Hello, ' + ${prenom}"></span>
        			</h2>
				</div>
				
					
				
				</div>
		<script type="text/javascript"
			src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
	</body>
</html>